<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>

</body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article>
    <header>
        <h1>References</h1>
    </header>

    <div id="centered">
        <section>
            <p>Below you can find samples of my work up to now. I can offer you to develop similar custom software.</p>

            <div id="reference">
                <a href="images/spring_calc.png" title="Calculator in Java Spring Boot" rel="lightbox[reference]">
                    <img src="images/spring_calc_preview.png" alt="Calculator in Java Spring Boot" />
                </a>
                <a href="images/diary_js.png" title="Diary in JavaScript" rel="lightbox[reference]">
                    <img src="images/diary_js_preview.png" alt="Diary in JavaScript" />
                </a>
                <a href="images/my_web.png" title="Web in HTML and CSS" rel="lightbox[reference]">
                    <img src="images/my_web_preview.png" alt="Web in HTML and CSS" />
                </a>
            </div>
        </section>
    </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</html>